// HEADER

.header {
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;

    // background-color: yellowgreen;

    border-bottom: 1px solid var(--color-grey);

    &__button {
        height: 4.8vw;
        margin: 4vw;
        display: flex;
        align-items: center;

        &-1 {
            width: 6vw;
            height: 0.5vw;
            background-color: #000;
            transform: translateY(0.25vw) rotate(45deg);
        }
        &-2 {
            width: 6vw;
            height: 0.5vw;
            background-color: #000;
            transform: translateY(-0.25vw) rotate(-45deg); // + -0.2vw
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;

        margin-right: auto;

        svg {
            height: 4.8vw;
            padding-left: 0.8vw;
            fill: #000;

            display: flex;
            align-items: center;
        }

        span {
            background-color: #000;
            width: 1px;
            height: 2.6667vw;
            margin-left: 1vw;
            margin-right: 1.33333vw;
            opacity: 0.5;
        }

        p {
            font-size: 2.66667vw;
            font-weight: 300;
            white-space: nowrap;
            letter-spacing: 0.1em;
            line-height: 0.8;
            text-transform: uppercase;

            opacity: 0.5;
        }
    }

    &__cart {
        display: flex;
        align-items: center;

        position: relative;

        a {
            color: #000;
            text-decoration: none;
            margin-right: 4vw;
        }

        svg {
            width: 6vw;
            height: 6vw;
            fill: #000;

            display: flex;
            align-items: center;
        }

        span {
            font-size: 2.66667vw;
            position: absolute;
            top: 28.5%;
            width: 60%;
            text-align: center;
        }
    }
}

//////////////////////////////////////////////////////////
// SLIDER

.slider {
    margin-top: 12.8vw; // based on the height of header button
    padding: 4vw;
    overflow-x: scroll;
    border-bottom: 1px solid var(--color-grey);
    background-color: yellowgreen;
}
